* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  height: 100%;
  background-color: #ddd;
}

.App {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  position: absolute;
  top: 20px;
}

.review {
  text-align: center;
  width: 300px;

  padding: 1rem;
  background-color: #fff;
}
.image-container {
  position: relative;
  line-height: 2.5;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

h4 {
  margin-bottom: 1rem;
}

.quote {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 60px;
  top: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 119, 255);
  border-radius: 50%;
}

.btn-container {
  width: 100%;
  padding: 0.5rem;
}

.next-btn,
.prev-btn {
  margin: 0 1rem;
  border: none;
  background: none;
  padding: 0.5rem;
  border-radius: 50%;
}

.next-btn:active,
.prev-btn:active {
  background-color: rgba(0, 0, 0, 0.5);
}
